.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.breed-selector {
  margin: 20px;
}

.breed-selector input[type='text'] {
  padding: 8px;
  width: 200px;
  margin-bottom: 10px;
}

.breed-selector ul {
  list-style: none;
  padding: 0;
}

.breed-selector li {
  margin: 5px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 5px;
  border-radius: 10px;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 10px;
  margin: 0 10px;
}
